@import 'params.scss';

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}

@mixin flex-grid($cols: 2, $dir: row, $space: 25px, $count: 2) {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -$space;
  margin-right: -$space;





  >* {
    padding: 0 $space;
    width: 100% / $cols;

    @if ($count > $cols) {
      margin-bottom: $space;
    }

    @include small-screen {
      width: 100%;
    }




  }




}

@mixin flex-center($dir: column) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}


@mixin flex-left($dir: column) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: $dir;

  @if ($dir==column) {
    >* {
      width: 100%;
    }
  }


}

@mixin flex-between($alignitems: center) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: $alignitems;

  @include small-screen {
    flex-wrap: wrap;
  }

  >* {
    @include small-screen {
      width: 100%;
    }
  }
}

@mixin btn($bgcolor: $maincolor, $color: $textcolor) {
  cursor: pointer;
  display: inline-block;
  padding: 12px 30px 13px 30px;
  line-height: 1;
  white-space: nowrap;
  background: $bgcolor;
  color: $color;
  font-size: 18px;
  border: none;
  margin: 15px 0;
  text-decoration: none;
  border-radius: 6px;
  text-transform: none;
  text-align: center;
  transition: $transition;

  &:hover,
  &:focus {
    @if ($bgcolor==$maincolor) {
      background: $secondcolor;
      color: $color;
    }
  }

  &--small {
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
    margin: 0;

    @include small-screen {
      font-size: 12px;
    }
  }

  &--border {
    border: 2px solid $color;

    @include small-screen {
      font-size: 12px;
    }
  }



}

@mixin btn_gray($bgcolor: #fff, $color: #999999) {
  cursor: pointer;
  display: inline-block;
  padding: 12px 30px 13px 30px;
  line-height: 1;
  white-space: nowrap;
  background: $bgcolor;
  color: $color;
  font-size: 16px;
  border: 1px solid #cccccc;
  margin: 15px 0;
  text-decoration: none;
  border-radius: 3px;
  text-transform: none;
  text-align: center;
  transition: $transition;
  width: 215px;

  &:hover,
  &:focus {
    background: #fff;
    color: $darkcolor;
    border-color: $darkcolor;
  }



  @include small-screen {
    font-size: 12px;

  }
}

@mixin btn-big($bgcolor: #fff, $color: $darkcolor, $bordercolor: $maincolor, $bordersize: 3px) {
  cursor: pointer;
  display: inline-block;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  white-space: nowrap;
  background: $bgcolor;
  color: $color;
  font-size: 24px;
  border: $bordersize solid;
  border-color: $bordercolor;
  margin: 0;
  border-radius: 50%;
  text-decoration: none;
  border-radius: 100px;
  text-transform: none;
  text-align: center;
  transition: $transition;


  @if ($color==$darkcolor) {

    &:hover,
    &:focus {
      background: $maincolor;
      color: #fff;
    }
  }

  @else {

    &:hover,
    &:focus {
      background: #fff;
      color: $darkcolor;
    }
  }



}

@mixin absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin absolute-image-center {
  position: absolute;
  left: -99999px;
  right: -99999px;
  top: -99999px;
  bottom: -99999px;
  margin: auto;
  max-height: 100%;
  max-width: initial;
  object-fit: cover;
  height: 100%;
  width: 100%;

}


@mixin large-screen() {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin medium-screen() {
  @media only screen and (max-width: 999px) {
    @content;
  }
}


@mixin small-screen() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin extrasmall-screen() {
  @media only screen and (max-width: 410px) {
    @content;
  }
}