<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>

<div class="indexheader">
  <%= _.template(require('./../includes/header.html').default)(data) %>
  <div id="video-bg">
    <video width="100%" height="auto" preload="auto" autoplay="autoplay" muted="muted" loop="loop">
      <source src="uploads/intro.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container">
    <div class="indexheader__content">
      <div class="indexheader__items">
        <div class="indexheader__title">Веб-проекты любой сложности на 1С-Битрикс</div><!-- /.indexheader__title -->
        <div class="indexheader__button">
          <a href="" class="indexheader__btn btn btn--main">Все услуги агентства</a>
          <!-- /.indexheader__btn btn btn--main -->
        </div><!-- /.indexheader__button -->
      </div><!-- /.indexheader__items -->

    </div><!-- /.indexheader__content -->
  </div><!-- /.container -->
</div><!-- /.indexpage -->

<main>
  <section class="projectsblock">
    <div class="projectsblock__left">
      <div class="projectsblock__bg">
        <div class="projectsblock__content">
          <div class="projectsblock__title">Последние проекты</div><!-- /.projectsblock__title -->
          <a href="" class="projectsblock__link"><span>Все кейсы</span> <img src="img/arrowRight.png" alt=""></a>
          <!-- /.projectsblock__link -->
        </div><!-- /.projectsblock__content -->
      </div><!-- /.projectsblock__bg -->
    </div><!-- /.projectsblock__left -->
    <div class="projectsblock__right">
      <div class="projectsblock__main">
        <div class="projects">
          <div class="projects__items">
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project1.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project2.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project3.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project4.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project5.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project6.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->

          </div><!-- /.projects__items -->
        </div><!-- /.projects -->
      </div><!-- /.projectsblock__main -->
    </div><!-- /.projectsblock__right -->
  </section><!-- /.projectsblock -->

  <section class="servicesblock">
    <div class="container">
      <div class="servicesblock__content">
        <div class="servicesblock__title titleLine">
          <h2>Услуги</h2>
          <hr />
        </div><!-- /.titleLine -->
        <div class="servicesblock__services">
          <div class="services">
            <div class="services__items">
              <div class="services__item">
                <div class="services__content">
                  <div class="services__header">
                    <div class="services__icon">
                      <div class="services__img"><img src="img/coding.png" alt=""></div><!-- /.services__img -->
                    </div><!-- /.services__icon -->
                    <div class="services__title">Веб-разработка</div><!-- /.services__title -->
                  </div><!-- /.services__header -->
                  <div class="services__main">
                    <div class="services__list">
                      <ul>
                        <li>Корпоративные сайты</li>
                        <li>Интернет-магазины</li>
                        <li>Сайт-визитка</li>
                        <li>Landing page</li>
                        <li>Проекты любой сложности на 1С-Битрикс</li>
                        <li>Разрабокта на базе готового решения</li>
                        <li>Мобильные приложения на базе Bitrix Mobile</li>
                      </ul>
                    </div><!-- /.services__list -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__content -->
              </div><!-- /.services__item -->

              <div class="services__item">
                <div class="services__content">
                  <div class="services__header">
                    <div class="services__icon">
                      <div class="services__img"><img src="img/seo.png" alt=""></div><!-- /.services__img -->
                    </div><!-- /.services__icon -->
                    <div class="services__title">Маркетинг</div><!-- /.services__title -->
                  </div><!-- /.services__header -->
                  <div class="services__main">
                    <div class="services__list">
                      <ul>
                        <li>Поисковая оптимизация</li>
                        <li> SEO-продвижение</li>
                        <li>Контекстная реклама</li>
                        <li>Комплексное продвижение</li>
                      </ul>
                    </div><!-- /.services__list -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__content -->
              </div><!-- /.services__item -->
              <div class="services__item">
                <div class="services__content">
                  <div class="services__header">
                    <div class="services__icon">
                      <div class="services__img"><img src="img/development.png" alt=""></div><!-- /.services__img -->
                    </div><!-- /.services__icon -->
                    <div class="services__title">Поддержка и автоматизация</div><!-- /.services__title -->
                  </div><!-- /.services__header -->
                  <div class="services__main">
                    <div class="services__list">
                      <ul>
                        <li>Поддержка и развитие сайта</li>
                        <li>Интеграция корпоративного портала Битрикс24</li>
                        <li>Интеграция сайта с 1С</li>
                      </ul>
                    </div><!-- /.services__list -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__content -->
              </div><!-- /.services__item -->
              <div class="services__item">
                <div class="services__content">
                  <div class="services__header">
                    <div class="services__icon">
                      <div class="services__img"><img src="img/ellipsis.png" alt=""></div><!-- /.services__img -->
                    </div><!-- /.services__icon -->
                    <div class="services__title">Другие услуги</div><!-- /.services__title -->
                  </div><!-- /.services__header -->
                  <div class="services__main">
                    <div class="services__list">
                      <ul>
                        <li>Технический и маркетинговый аудит сайта</li>
                        <li>Создание логотипа</li>
                        <li>Фотосъемка</li>
                      </ul>
                    </div><!-- /.services__list -->
                  </div><!-- /.services__main -->
                </div><!-- /.services__content -->
              </div><!-- /.services__item -->

            </div><!-- /.services__items -->
          </div><!-- /.services -->
        </div><!-- /.servicesblock__services -->
      </div><!-- /.servicesblock__content -->
    </div><!-- /.container -->
  </section><!-- /.servicesblock -->

  <div class="aboutblock">
    <div class="container">
      <div class="about">
        <h2>Агенство EMPIS</h2>
        <div class="about__text">
          <div class="cols">
            <div class="cols__col cols__col--6">
              <div class="text">
                <p>Агенство EMPIS работает в области web-разработок c 2010 года. Специалисты нашей web-студии успешно
                  реализовали более 300 проектов, некоторые из них до сих пор работают под нашим управлением. С
                  примерами
                  последних работ вы можете ознакомиться, заглянув в наше <a href="">портфолио</a>.</p>
              </div><!-- /.text -->
            </div><!-- /.cols__col cols__col--6 -->
            <div class="cols__col cols__col--6">
              <div class="text">
                <p>Студия web-разработок EMPIS предлагает комплексные решения для бизнеса. Наши специалисты успешно
                  выполняют проекты любого уровня сложности по разработке, развитию и продвижению сайта клиента.
                  Подробную
                  информацию Вы можете получить у наших менеджеров по телефону или онлайн-чат!</p>
              </div><!-- /.text -->
            </div><!-- /.cols__col cols__col--6 -->
          </div><!-- /.cols -->
        </div><!-- /.about__textr -->

        <h3>Наши клиенты</h3>
        <div class="about__clients">
          <div class="rounditems">
            <div class="rounditems__items">
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client1.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client2.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client3.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client4.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client5.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client6.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client7.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client8.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client9.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client10.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client11.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
              <div class="rounditems__item">
                <div class="rounditems__content">
                  <div class="rounditems__wrapper">
                    <div class="rounditems__image"><img src="img/client12.png" alt=""></div><!-- /.rounditems__image -->
                  </div><!-- /.rounditems__wrapper -->
                </div><!-- /.rounditems__content -->
              </div><!-- /.rounditems__item -->
            </div><!-- /.rounditems__items -->
          </div><!-- /.rounditems -->
        </div><!-- /.about__clients -->
      </div><!-- /.about -->
    </div><!-- /.container -->
  </div><!-- /.aboutblock -->
</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>