<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>

<div class="indexheader">
  <%= _.template(require('./../includes/header.html').default)(data) %>
  <div id="video-bg">
    <video width="100%" height="auto" preload="auto" autoplay="autoplay" muted="muted" loop="loop">
      <source src="uploads/intro.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container">
    <div class="indexheader__content">
      <div class="indexheader__items">
        <div class="indexheader__title">Веб-проекты любой сложности на 1С-Битрикс</div><!-- /.indexheader__title -->
        <div class="indexheader__button">
          <a href="" class="indexheader__btn btn btn--main">Все услуги агентства</a>
          <!-- /.indexheader__btn btn btn--main -->
        </div><!-- /.indexheader__button -->
      </div><!-- /.indexheader__items -->

    </div><!-- /.indexheader__content -->
  </div><!-- /.container -->
</div><!-- /.indexpage -->

<main>
  <section class="projectsblock">
    <div class="projectsblock__left">
      <div class="projectsblock__bg">
        <div class="projectsblock__content">
          <div class="projectsblock__title">Последние проекты</div><!-- /.projectsblock__title -->
          <a href="" class="projectsblock__link"><span>Все кейсы</span> <img src="img/arrowRight.png" alt=""></a>
          <!-- /.projectsblock__link -->
        </div><!-- /.projectsblock__content -->
      </div><!-- /.projectsblock__bg -->
    </div><!-- /.projectsblock__left -->
    <div class="projectsblock__right">
      <div class="projectsblock__main">
        <div class="projects">
          <div class="projects__items">
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project1.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project2.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project3.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project4.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project5.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->
            <div class="projects__item">
              <a href="" class="projects__link">
                <img src="img/project6.jpg" alt="">
                <div class="projects__info">
                  <div class="projects__title">SILVER CLASSIC</div><!-- /.projects__title -->
                  <div class="projects__text">Интернет-магазин производителя ювелирных изделий</div>
                  <!-- /.projects__text -->
                </div><!-- /.projects__info -->
              </a><!-- /.projects__link -->
            </div><!-- /.projects__item -->

          </div><!-- /.projects__items -->
        </div><!-- /.projects -->
      </div><!-- /.projectsblock__main -->
    </div><!-- /.projectsblock__right -->
  </section><!-- /.projectsblock -->
</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>