<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>

<div class="landing">
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <main>
    <div class="pageheader">
      <div class="container">
        <div class="pageheader__breacrumbs">
          <div class="container">
            <div class="breadcrumbs">
              <ul>
                <li><a href=""><span>Главная</span></a></li>
                <li><a href=""><span>Услуги</span></a></li>
                <li><span>Поддержка и автоматизацияа</span></li>
              </ul>
            </div><!-- /.breadcrumbs -->
          </div><!-- /.container -->

        </div><!-- /.pageheader__breacrumbs -->

        <div class="container">
          <div class="pageheader__title">
            <h1>Поддержка и автоматизация</h1>
          </div><!-- /.pageheader__title -->
        </div><!-- /.container -->
      </div><!-- /.container -->
    </div><!-- /.pageheader -->

    <div class="container">
      <div class="pagenav">
        <ul>
          <li class="active"><a href="#block1" class="scrollTo">Поддержка и развитие сайта</a></li>
          <li><a href="#block2" class="scrollTo">Внедрение Битрикс24</a></li>
          <li><a href="#block3" class="scrollTo">Интеграция сайта с 1С</a></li>
        </ul>
      </div><!-- /.pagenav -->
    </div><!-- /.container -->

    <div class="baseseoblock offerblock supportblock" id="block1">
      <div class="container">
        <div class="offerblock__title">
          <h2>Поддержка сайтов на битриксе</h2>
          <div class="offerblock__descr">Полный комплекс услуг по техническому сопровождению и обслуживанию сайтов от
            профессионалов с многолетним опытом и <br> экспертизой.</div>
        </div>

        <div class="offerblock__btn"><a href="#modal__order" data-toggle="modal" class="btn btn_black">ОСТАВИТЬ
            ЗАЯВКУ</a></div>

        <div class="offerblock__cols">
          <div class="offerblock__aside">
            <div class="offerblock__image slide-in-left wow" data-wow-delay="0.2s"><img src="img/support1.png" alt="">
            </div>
          </div><!-- /.offerblock__aside -->
          <div class="offerblock__main offerblock__main_right">
            <h4>
              От мониторинга до полноценного развития
            </h4><!-- /.offerblock__title -->
            <div class="offerblock__descr">Мы накопили уникальный опыт по сопровождению сайтов компаний: в настоящее
              время мы развиваем на постоянной основе более 50 проектов наших клиентов, а также оказываем услуги разовой
              (нерегулярной) онлайн-поддержки. Мы готовы включиться в проект на любой стадии и обеспечить его дальнейшее
              развитие.</div><!-- /.offerblock__descr -->

            <h3>Какие работы мы выполняем:</h3>
            <div class="listround listround_initial listround__col_2">
              <ul>
                <li>Размещение сайта на нашем сервере или бесперебойное обслуживание вашего хостинга</li>
                <li>Редизайн проекта или его отдельных страниц (посадочные страницы, баннеры, иконки и т.д.)</li>
                <li>Модернизация, разработка и внедрение нового функционала (формы, инфоблоки, слайдеры и т.д.)</li>
                <li>Комплекс работ по обслуживанию и интеграции с внешними системами (1С, МойСклад, маркетплейсы и т.д)
                </li>
                <li>Работы по оптимизации сайта для SEO-продвижения (мета-теги, карта сайта, валидация и т.д.)</li>
                <li>Исправление верстки сайта, кроссбраузерность, адаптация под мобильные устройства</li>
              </ul>
            </div><!-- /.listround -->

          </div><!-- /.offerblock__main -->
        </div><!-- /.offerblock__cols -->


        <div class="offerblock__prices">
          <div class=" titleLine">
            <h2>Наши тарифы</h2>
            <hr>
          </div>
          <div class="offerblock__cards offerblock__cards_support">
            <div class="cards cards_3">
              <div class="card card_caption">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">

                      <div class="card__title card__title_blue">&nbsp;</div><!-- /.card__title -->
                      <div class="card__list card__list_row">
                        <ul>
                          <li>Включено часов:</li>
                          <li>Стоимость часа:</li>
                          <li> Скорость ответа менеджера:</li>
                          <li>Рекомендации по развитию сайта:</li>
                          <li>Перенос не отработанных часов:</li>
                          <li>Стоимость абонентской платы:</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->


                  </div><!-- /.card__wrapper -->
                </div>
              </div>

              <div class="card slide-in-bottom wow" data-wow-delay="0.2s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">

                      <div class="card__title card__title_blue">Базовый</div><!-- /.card__title -->
                      <div class="card__list card__list_row">
                        <ul>
                          <li>10 часов</li>
                          <li>2 000 <span class="rouble">₽</span></li>
                          <li>В течение дня</li>
                          <li>Нет</li>
                          <li>Нет</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-value">20 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__link"><a href="#" class="link_gray">В тариф также включено</a></div>
                      <!-- /.card__link -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Оставить заявку</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->
              <div class="card slide-in-bottom wow" data-wow-delay="0.3s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">


                      <div class="card__title card__title_blue">Оптимальный</div><!-- /.card__title -->
                      <div class="card__list card__list_row">
                        <ul>
                          <li>20 часов</li>
                          <li>1 800 <span class="rouble">₽</span></li>
                          <li>До 1 часа</li>
                          <li>Да</li>
                          <li>Да</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-value">30 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__link"><a href="#" class="link_gray">В тариф также включено</a></div>
                      <!-- /.card__link -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Оставить заявку</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->
              <div class="card slide-in-bottom wow" data-wow-delay="0.4s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">


                      <div class="card__title card__title_blue">VIP</div><!-- /.card__title -->
                      <div class="card__list card__list_row">
                        <ul>
                          <li>40 часов</li>
                          <li>1 500 <span class="rouble">₽</span></li>
                          <li>До 15 мин</li>
                          <li>Да</li>
                          <li>Да</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-value">60 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__link"><a href="#" class="link_gray">В тариф также включено</a></div>
                      <!-- /.card__link -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Оставить заявку</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->




            </div><!-- /.cards -->
          </div><!-- /.offerblock__cards -->
        </div><!-- /.offerblock__prices -->

        <h3>Сколько стоит разовое обращение без абонентской платы?</h3>
        <div class="offerblock__text offerblock__text_big">
          <span>2 200 <span class="rouble">₽</span></span>-час
        </div>
        <div class="offerblock__descr">(сроки на разовые задачи составляют от 3 до 5 рабочих дней)</div>



      </div> <!-- /.container -->
    </div><!-- /.devblock -->

    <div class="topseoblock offerblock bxblock" id="block2">
      <div class="container">
        <div class="offerblock__title">
          <h2>Комплексное внедрение Битрикс24</h2>
          <div class="offerblock__descr">CRM Битрикс24 — система автоматизации бизнеса и продаж. Это единое
            онлайн-пространство для удобного документооборота, взаимодействия с сотрудниками и клиентами, для постановки
            задач, анализа и контроля.</div>
        </div>

        <div class="offerblock__btn"><a href="#modal__order" data-toggle="modal" class="btn btn_black">Рассчитать
            стоимость внедрения</a></div>

        <div class="offerblock__prices">
          <h3>Стоимость стандартных этапов внедрения Битрикс24</h3>
          <div class="offerblock__cards">
            <div class="cards cards_2">
              <div class="card slide-in-bottom wow" data-wow-delay="0.2s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">
                      <div class="card__icon">
                        <div class="card__onlyicon">
                          <img src="img/bx2.svg" alt="">
                        </div><!-- /.card__onlyicon -->
                      </div><!-- /.card__icon -->
                      <div class="card__title">Базовая настройка</div>
                      <div class="card__text">
                        Подходит для малого бизнеса или небольшого предприятия. Идеальный вариант для быстрого старта.
                      </div>
                      <div class="card__list">
                        <ul>
                          <li>Все коммуникации - email, телефон, whatsapp и другие мессенджеры, авито – будут собраны в
                            CRM.
                          </li>
                          <li>Обучение персонала с постепенной адаптацией и освоением потока информации.
                          </li>
                          <li>Настройка воронок в направлениях сделок.
                          </li>
                          <li>Написание базовых регламентов работы в CRM.
                          </li>

                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-text">от</span>
                        <span class="card__price-value">30 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Получить предложение</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->

              <div class="card slide-in-bottom wow" data-wow-delay="0.5s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">
                      <div class="card__icon">
                        <div class="card__onlyicon">
                          <img src="img/bx1.svg" alt="">
                        </div><!-- /.card__onlyicon -->
                      </div><!-- /.card__icon -->
                      <div class="card__title">Расширенная настройка</div>
                      <div class="card__text">
                        Подходит крупным компаниям со сложными или нестандартными бизнес-процессами.</div>
                      <div class="card__list">
                        <ul>
                          <li>Перенос всех коммуникаций в CRM: email, телефон, whatsup и другие мессенджеры, авито.</li>
                          <li>Дистанционное и очное обучение персонала с подготовкой гайдов, инструкций.
                          </li>
                          <li> Автоматизация воронок продаж.
                          </li>
                          <li>Помощь в составлении базовых регламентов работы в CRM.
                          </li>
                          <li>Проектирование и автоматизация
                          </li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-text">от</span>
                        <span class="card__price-value">60 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Получить предложение</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->


            </div><!-- /.cards -->
          </div><!-- /.offerblock__cards -->
        </div><!-- /.offerblock__prices -->
        <br>
        <div class="offerblock__text">
          Основная задача внедрения Битрикс24 — увеличение эффективности бизнеса и сокращение <br> финансовых затрат.
          Стоимость зависит от выбранного типа настройки.
        </div><!-- /.offerblock__text -->

        <div class="stageicons">
          <h3>Этапы внедрения Bitrix24</h3>
          <div class="stageicons__items">
            <div class="stageicons__item">
              <div class="stageicons__icon">
                <div class="stageicons__img"><img src="img/stageicons1.svg" alt=""></div>
              </div>
              <div class="stageicons__text">
                Анализ бизнес- <br> процессов
              </div>
            </div><!-- /.stageicons__item -->
            <div class="stageicons__item">
              <div class="stageicons__icon">
                <div class="stageicons__img"><img src="img/stageicons2.svg" alt=""></div>
              </div>
              <div class="stageicons__text">
                Базовая<br> настройка
              </div>
            </div><!-- /.stageicons__item -->
            <div class="stageicons__item">
              <div class="stageicons__icon">
                <div class="stageicons__img"><img src="img/stageicons3.svg" alt=""></div>
              </div>
              <div class="stageicons__text">
                Настройка<br> CRM
              </div>
            </div><!-- /.stageicons__item -->
            <div class="stageicons__item">
              <div class="stageicons__icon">
                <div class="stageicons__img"><img src="img/stageicons4.svg" alt=""></div>
              </div>
              <div class="stageicons__text">
                Настройка каналов<br> связи
              </div>
            </div><!-- /.stageicons__item -->
            <div class="stageicons__item">
              <div class="stageicons__icon">
                <div class="stageicons__img"><img src="img/stageicons5.svg" alt=""></div>
              </div>
              <div class="stageicons__text">
                Обучение и<br> поддержка
              </div>
            </div><!-- /.stageicons__item -->
          </div><!-- /.stageicons__items -->
        </div><!-- /.stageicons -->

      </div> <!-- /.container -->
    </div><!-- /.devblock -->


    <div class="solutionblock offerblock block1c" id="block3">
      <div class="container">
        <div class="offerblock__title">
          <h2>Внедрение и сопровождение 1С</h2>
          <div class="offerblock__descr">Полный комплекс профессиональных услуг по внедрению, разработке и поддержке
            продуктов 1С.</div>
        </div>
        <div class="offerblock__cases offerblock__cases_red">
          <a href="#modal__order" data-toggle="modal"><img src="img/calculator.svg" alt=""> <span>РАССЧИТАТЬ
              СТОИМОСТЬ</span></a>
        </div>
        <br>
        <div class="offerblock__fitches">
          <h3>Наши услуги</h3>
          <div class="offerfitches">
            <div class="offerfitches__items">
              <div class="offerfitches__item offerfitches__item_1 slide-in-bottom wow" data-wow-delay="0.3s">
                <div class=" offerfitches__content">
                  <div class="offerfitches__header">
                    <div class="offerfitches__icon">
                      <div class="offerfitches__img">
                        <img src="img/block1c1.svg" alt=""></div>
                    </div>
                    <div class="offerfitches__title">Внедрение продуктов 1С</div>
                  </div><!-- /.offerfitches__header -->
                  <div class="offerfitches__text">Составление технического задания, настройка и доработка системы,
                    перенос данных и обучение сотрудников.

                  </div><!-- /.offerfitches__text -->
                </div><!-- /.offerfitches__content -->
              </div><!-- /.offerfitches__item -->
              <div class="offerfitches__item offerfitches__item_2 slide-in-bottom wow" data-wow-delay="0.6s">
                <div class="offerfitches__content">
                  <div class="offerfitches__header">
                    <div class="offerfitches__icon">
                      <div class="offerfitches__img">
                        <img src="img/support1c.png" alt="">
                      </div>
                    </div>

                    <div class="offerfitches__title">Сопровождение 1С</div>
                  </div><!-- /.offerfitches__header -->
                  <div class="offerfitches__text">
                    Выполнения комплекса услуг по сопровождению/поддержке системы 1С.

                  </div><!-- /.offerfitches__text -->
                </div><!-- /.offerfitches__content -->
              </div><!-- /.offerfitches__item -->
              <div class="offerfitches__item offerfitches__item_3 slide-in-bottom wow" data-wow-delay="0.9s">
                <div class="offerfitches__content">
                  <div class="offerfitches__header">
                    <div class="offerfitches__icon">
                      <div class="offerfitches__img">
                        <img src="img/block1c2.svg" alt="">
                      </div>
                    </div>
                    <div class="offerfitches__title">Настройка 1С</div>
                  </div><!-- /.offerfitches__header -->
                  <div class="offerfitches__text">
                    Предварительные настройки системы
                    для начала работы и при изменении бизнес-процессов.
                  </div><!-- /.offerfitches__text -->
                </div><!-- /.offerfitches__content -->
              </div><!-- /.offerfitches__item -->
            </div><!-- /.offerfitches__items -->
          </div><!-- /.offerfitches -->

        </div><!-- /.offerblock__fitches -->
        <br>

        <h3>Преимущества</h3>
        <div class="listround listround_initial listround_title listround_cols3">
          <ul>
            <li>
              <span class="listround__title">Оперативность</span>
              <span class="listround__text">Наши специалисты быстро откликаются на заявку.</span>
            </li>
            <li>
              <span class="listround__title">Компетентность
              </span>
              <span class="listround__text"> С клиентом работает персональный программист или консультант, который
                специализируется на определенном программном продукте.</span>
            </li>
            <li>
              <span class="listround__title">Комплексное сопровождение</span>
              <span class="listround__text">От анализа текущей ситуации до решения задачи «под ключ».</span>
            </li>
            <li>
              <span class="listround__title">Обязательные резервные копии
              </span>
              <span class="listround__text">Все данные сохраняются в безопасном облачном хранилище.</span>
            </li>

            <li>
              <span class="listround__title">Экономия Вашего времени
              </span>
              <span class="listround__text">Удаленное подключение поможет решить проблему в кратчайшие сроки.</span>
            </li>

            <li>
              <span class="listround__title">Экономия Ваших средств
              </span>
              <span class="listround__text">Час работы «удаленного специалиста» дешевле на 30 %.</span>
            </li>

          </ul>
        </div>
        <br>
        <h3>цены на Сопровождение 1С</h3>
        <div class="offerblock__text offerblock__text_big">
          от <span>1800<span class="rouble">₽</span></span>-час
        </div>
        <br>
        <div class="offerblock__descr">Стоимость часа работ программиста 1С.</div>



      </div> <!-- /.container -->
      <br><br>
    </div><!-- /.devblock -->





  </main>
</div><!-- /.landing -->
<%= _.template(require('./../includes/footer.html').default)(data) %>