<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>

<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
  <div class="pageheader pageheader--cover" style="background-image: url(./img/cover2.jpg);">
    <div class="pagecover">

      <div class="pageheader__breacrumbs">
        <div class="container">
          <div class="breadcrumbs">
            <ul>
              <li><a href=""><span>Главная</span></a></li>
              <li><a href=""><span>Проекты</span></a></li>
              <li><span>Подробный кейс</span></li>
            </ul>
          </div><!-- /.breadcrumbs -->
        </div><!-- /.container -->

      </div><!-- /.pageheader__breacrumbs -->
      <div class="pagecover__content">
        <div class="container">
          <div class="pageheader__title pageheader__title--center">
            <h1>Fishorder</h1>
            <div class="offer">SEO-продвижение интернет-магазина крупного дистрибьютора морепродуктов и рыбы</div>
            <!-- /.offer -->
          </div><!-- /.pageheader__title -->
        </div><!-- /.container -->
      </div><!-- /.pagecover__content -->
    </div><!-- /.pagecover -->
  </div><!-- /.pageheader -->
  <div class="cardblock">
    <div class="container">
      <div class="card">
        <div class="card__wrapper">
          <div class="card__main">
            <div class="card__item">
              <div class="card__title">Клиент</div>
              <div class="card__text">Интернет-магазин рыбы и морепродуктов в Москве «Fishorder»! Доставка
                осуществляется, в том числе, по ближнему Подмосковью, также купить продукцию вы можете в
                Санкт-Петербурге.</div>
            </div><!-- /.card__item -->

            <div class="card__item">
              <div class="card__title">задача</div>
              <div class="card__text">Развитие интернет-продаж компании, привлечение аудитории из поисковых систем.
                Увеличение конверсии сайта. Улучшение видимости ресурса в поисковых системах. Повышение количества
                трафика на сайт. Увеличение количества заказов с сайта.</div>
            </div><!-- /.card__item -->

            <div class="card__item onlyMobile">
              <div class="card__title">решение</div>
              <div class="card__text">
                <ul>
                  <li>семантическое ядро корректируется, исходя из сезонности спроса</li>
                  <li>внесены технические корректировки на сайт для соответствия SEO-требованиям</li>
                  <li>расширена товарная категория и скорректирована стратегия продвижения с учетом новых позиций</li>
                  <li>благодаря проведенной услуге «Улучшение продающих качеств сайта» выросли поведенческие факторы
                    сайта, что позволило сайту лучше ранжироваться в поисковых системах</li>
                </ul>
              </div>
            </div><!-- /.card__item -->

          </div><!-- /.card__main -->
          <div class="card__form">
            <div class="callform">
              <div class="callform__content">
                <div class="callform__title">Хотите получить консультацию?</div>
                <div class="callform__text">Оставьте заявку, и наш менеджер свяжется с вами в течение дня.</div>
                <div class="callform__button">
                  <a href="#formblock" class="btn btn--border scrollTo">Отправить заявку</a>
                </div><!-- /.callform__button -->
              </div><!-- /.callform__content -->
            </div><!-- /.callform -->
          </div><!-- /.card__form -->
        </div><!-- /.card__wrapper -->
      </div><!-- /.card -->
    </div><!-- /.container -->
  </div><!-- /.cardblock -->

  <div class="solution">
    <div class="container onlyDesktop">
      <div class="solution__wrapper">
        <div class="solution__content">
          <div class="solution__left">
            <div class="solution__title">решение</div><!-- /.solution__title -->
          </div><!-- /.solution__left -->
          <div class="solution__right">
            <div class="solution__list">
              <ul>
                <li>семантическое ядро корректируется, исходя из сезонности спроса</li>
                <li>внесены технические корректировки на сайт для соответствия SEO-требованиям</li>
                <li>расширена товарная категория и скорректирована стратегия продвижения с учетом новых позиций</li>
                <li>благодаря проведенной услуге «Улучшение продающих качеств сайта» выросли поведенческие факторы
                  сайта, что позволило сайту лучше ранжироваться в поисковых системах</li>
              </ul>
            </div><!-- /.solution__list -->
          </div><!-- /.solution__right -->
        </div><!-- /.solution__content -->
      </div><!-- /.solution__wrapper -->
    </div><!-- /.container -->
  </div><!-- /.solution -->

  <div class="tablecardblock">
    <div class="container">
      <div class="tablecard__content">
        <div class="tablecard__title">Результат</div>
        <div class="tablecard__items">
          <div class="tablecard__item">
            <div class="tablecard__logo"><img src="./img/yandex.png" alt=""></div>
            <div class="tablecard__table">
              <div class="cardtable">
                <div class="cardtable__title">топ-3</div>
                <div class="cardtable__list">
                  <div class="cardtable__item">Купить рыбу</div>
                  <div class="cardtable__item">Купить морепродукты</div>
                  <div class="cardtable__item">Купить дорадо</div>
                  <div class="cardtable__item">Скумбрия цена</div>
                  <div class="cardtable__item">Креветки цена</div>
                  <div class="cardtable__item">Горбуша доставка</div>
                  <div class="cardtable__item">Северная рыба</div>
                </div><!-- /.cardtable__list -->
              </div><!-- /.cardtable -->

              <div class="cardtable">
                <div class="cardtable__title">топ-5</div>
                <div class="cardtable__list">
                  <div class="cardtable__item">Купить рыбу</div>
                  <div class="cardtable__item">Купить морепродукты</div>
                  <div class="cardtable__item">Купить дорадо</div>
                  <div class="cardtable__item">Скумбрия цена</div>
                  <div class="cardtable__item">Креветки цена</div>
                  <div class="cardtable__item">Северная рыба</div>
                </div><!-- /.cardtable__list -->
              </div><!-- /.cardtable -->
              <div class="cardtable">
                <div class="cardtable__title">топ-10</div>
                <div class="cardtable__list">
                  <div class="cardtable__item">Купить рыбу</div>
                  <div class="cardtable__item">Купить морепродукты</div>
                  <div class="cardtable__item">Купить дорадо</div>
                  <div class="cardtable__item">Скумбрия цена</div>
                  <div class="cardtable__item">Креветки цена</div>
                  <div class="cardtable__item">Горбуша доставка</div>
                  <div class="cardtable__item">Северная рыба</div>
                </div><!-- /.cardtable__list -->
              </div><!-- /.cardtable -->

            </div><!-- /.tablecard__table -->
          </div><!-- /.tablecard__item -->

          <div class="tablecard__item">
            <div class="tablecard__logo"><img src="./img/google.png" alt=""></div>
            <div class="tablecard__table">
              <div class="cardtable">
                <div class="cardtable__title">топ-3</div>
                <div class="cardtable__list">
                  <div class="cardtable__item">Купить рыбу</div>
                  <div class="cardtable__item">Купить морепродукты</div>
                  <div class="cardtable__item">Купить дорадо</div>
                  <div class="cardtable__item">Скумбрия цена</div>
                  <div class="cardtable__item">Креветки цена</div>
                  <div class="cardtable__item">Горбуша доставка</div>
                  <div class="cardtable__item">Северная рыба</div>
                </div><!-- /.cardtable__list -->
              </div><!-- /.cardtable -->

              <div class="cardtable">
                <div class="cardtable__title">топ-5</div>
                <div class="cardtable__list">
                  <div class="cardtable__item">Купить рыбу</div>
                  <div class="cardtable__item">Купить морепродукты</div>
                  <div class="cardtable__item">Купить дорадо</div>
                  <div class="cardtable__item">Скумбрия цена</div>
                  <div class="cardtable__item">Креветки цена</div>
                  <div class="cardtable__item">Северная рыба</div>
                </div><!-- /.cardtable__list -->
              </div><!-- /.cardtable -->
              <div class="cardtable">
                <div class="cardtable__title">топ-10</div>
                <div class="cardtable__list">
                  <div class="cardtable__item">Купить рыбу</div>
                  <div class="cardtable__item">Купить морепродукты</div>
                  <div class="cardtable__item">Купить дорадо</div>
                  <div class="cardtable__item">Скумбрия цена</div>
                  <div class="cardtable__item">Креветки цена</div>
                  <div class="cardtable__item">Горбуша доставка</div>
                  <div class="cardtable__item">Северная рыба</div>
                </div><!-- /.cardtable__list -->
              </div><!-- /.cardtable -->

            </div><!-- /.tablecard__table -->
          </div><!-- /.tablecard__item -->

        </div><!-- /.tablecard__items -->
        <div class="tablecard__text">
          <p>
            Видимость проекта в поисковых системах по продвигаемым запросам составляет 73.4%. В ТОП-10 Яндекса находится
            82.1% слов, Google – 75.4%. При общем количестве запросов более 500 — это отличный показатель.
          </p>
        </div>
      </div><!-- /.tablecard__content -->
    </div><!-- /.container -->
  </div><!-- /.tablecardblock -->

  <div class="reviewsblock">
    <div class="container">
      <div class="titleLine">
        <h3>Отзыв клиента</h3>
        <hr>
      </div><!-- /.titleline -->
      <div class="imgcard">
        <div class="imgcard__wrapper">
          <div class="imgcard__image">
            <div class="imgcard__img"><a href="./img/img1.jpg" data-lightbox="review"><img src="./img/img1.jpg"
                  alt=""></a></div><!-- /.imgcard__img -->
          </div><!-- /.imgcard__image -->
          <div class="imgcard__content">
            <div class="imgcard__text">
              <div class="imgcard__title">Компания АО «НБКИ»
              </div>
              <p>Коллектив компании «НБКИ» выражает благодарность сотрудникам ООО «ЭМПИС»! Специалисты компании подошли
                к обсуждению деталей четко, принимали во внимание наши пожелания. Услуги по технической поддержке сайта
                оказываются оперативно. Отдельно хотим отметить работу нашего персонального менеджера поддержки
                Александра Копнина, который всегда помогает нам при возникновении каких-либо вопросов в работе сайта.
              </p>
            </div><!-- /.imgcard__text -->
          </div><!-- /.imgcard__content -->
        </div><!-- /.imgcard__wrapper -->
      </div><!-- /.imgcard -->
    </div><!-- /.container -->
  </div><!-- /.reviewsblock -->
  <div class="formblock" id="formblock">
    <div class="container">
      <div class="form">
        <div class="form__title">Расскажите о вашем проекте</div><!-- /.form__title -->
        <div class="form__form">
          <form action="">
            <div class="form__row">
              <div class="form__input"><input type="text" placeholder="Ваше имя *"></div><!-- /.form__input -->
              <div class="form__input"><input type="text" placeholder="Телефон *"></div><!-- /.form__input -->
              <div class="form__input form__input--halfsm"><input type="text" placeholder="E-mail *"></div>
              <!-- /.form__input -->

              <div class="form__input form__input--full"><textarea name="" id="" cols="" rows="1"
                  placeholder="Сообщение"></textarea>
                <!-- /# -->
              </div><!-- /.form__input -->
            </div><!-- /.form__row -->
            <div class="form__row form__row--notsm">
              <div class="form__input">
                <div class="check">
                  <input type="checkbox" id="checkbox_3"> <label for="checkbox_3">Согласие на обработку
                    <a href="">персональных данных</a></label>
                </div>
              </div><!-- /.form__input -->
              <div class="form__input">
                <div class="fileupload">
                  <label>
                    <div class="fileupload__files">
                      <div class="fileupload__file">
                        <input type="file" name="file_upload">
                        <span class="filebutton">Прикрепить файл</span>
                      </div>
                    </div>
                  </label>
                </div>
              </div><!-- /.form__input -->
              <div class="form__input">
                <butto type="submit" class="bigButton">Отправить</butto>
              </div><!-- /.form__input -->
            </div><!-- /.form__row -->
          </form>
        </div><!-- /.form__form -->
      </div><!-- /.form -->
    </div><!-- /.container -->
  </div><!-- /.formblock -->
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>