<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>

<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
  <div class="pageheader">
    <div class="container">
      <div class="pageheader__breacrumbs">
        <div class="container">
          <div class="breadcrumbs">
            <ul>
              <li><a href=""><span>Главная</span></a></li>
              <li><a href=""><span>Проекты</span></a></li>
              <li><span>Подробный кейс</span></li>
            </ul>
          </div><!-- /.breadcrumbs -->
        </div><!-- /.container -->

      </div><!-- /.pageheader__breacrumbs -->
      <div class="container">
        <div class="pageheader__title">
          <h1>Проекты</h1>
        </div><!-- /.pageheader__title -->
      </div><!-- /.container -->
    </div><!-- /.pageheader -->

    <div class="page">
      <div class="container">
        <div class="linkspanel">
          <ul>
            <li class="active"><a href="">Все</a></li>
            <li><a href="">Разработка сайтов</a></li>
            <li><a href="">Продвижение</a></li>
            <li><a href="">Мобильные приложения</a></li>
            <li><a href="">Брендинг</a></li>
          </ul>
        </div><!-- /.linkspanel -->

        <div class="objects">
          <div class="objects__items">
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects1.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">НБКИ</a></div><!-- /.objects__name -->
                <div class="objects__text">Сайт крупнейшего бюро кредитных историй</div><!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->

            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects2.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">PRADEX</a></div><!-- /.objects__name -->
                <div class="objects__text">Сайт производителя радиаторов отопления</div><!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects3.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">MARIDEL</a></div><!-- /.objects__name -->
                <div class="objects__text">Интернет магазин поставщика Камчатских морепродуктов</div>
                <!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects4.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">FISHORDER</a></div><!-- /.objects__name -->
                <div class="objects__text">Мобильное приложение крупного дистрибютора рыбы и морепродуктов</div>
                <!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects5.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">SILVER CLASSIC</a></div><!-- /.objects__name -->
                <div class="objects__text">Интернет магазин производителя ювелирных изделий</div>
                <!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects6.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">BEST TUYA</a></div><!-- /.objects__name -->
                <div class="objects__text">Landing page питомника растений</div><!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->

            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects1.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">НБКИ</a></div><!-- /.objects__name -->
                <div class="objects__text">Сайт крупнейшего бюро кредитных историй</div><!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->

            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects2.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">PRADEX</a></div><!-- /.objects__name -->
                <div class="objects__text">Сайт производителя радиаторов отопления</div><!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects3.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">MARIDEL</a></div><!-- /.objects__name -->
                <div class="objects__text">Интернет магазин поставщика Камчатских морепродуктов</div>
                <!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects4.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">FISHORDER</a></div><!-- /.objects__name -->
                <div class="objects__text">Мобильное приложение крупного дистрибютора рыбы и морепродуктов</div>
                <!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects5.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">SILVER CLASSIC</a></div><!-- /.objects__name -->
                <div class="objects__text">Интернет магазин производителя ювелирных изделий</div>
                <!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->
            <div class="objects__item">
              <div class="objects__content">
                <div class="objects__image">
                  <div class="objects__image"><a href=""><img src="img/objects6.png" alt=""></a></div>
                  <!-- /.objects__image -->
                </div><!-- /.objects__image -->
                <div class="objects__name"><a href="">BEST TUYA</a></div><!-- /.objects__name -->
                <div class="objects__text">Landing page питомника растений</div><!-- /.objects__text -->
              </div><!-- /.objects__content -->
            </div><!-- /.objects__item -->



          </div><!-- /.objects__items -->

          <div class="objects__showmore"><a href="" class="btn btn_gray">Показать еще</a></div>
          <!-- /.objects__showmore -->
        </div><!-- /.objects -->

      </div><!-- /.container -->
    </div><!-- /.page -->




</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>