<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>

<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
  <div class="pageheader">
    <div class="container">
      <div class="pageheader__breacrumbs">
        <div class="container">
          <div class="breadcrumbs">
            <ul>
              <li><a href=""><span>Главная</span></a></li>
              <li><a href=""><span>Проекты</span></a></li>
              <li><span>Подробный кейс</span></li>
            </ul>
          </div><!-- /.breadcrumbs -->
        </div><!-- /.container -->

      </div><!-- /.pageheader__breacrumbs -->

      <div class="container">
        <div class="pageheader__title">
          <h1>Услуги</h1>
        </div><!-- /.pageheader__title -->
      </div><!-- /.container -->
    </div><!-- /.pageheader -->

    <div class="page">
      <section class="servicesblock">
        <div class="container">
          <div class="servicesblock__content">

            <div class="servicesblock__services">
              <div class="services">
                <div class="services__items">
                  <div class="services__item">
                    <div class="services__content">
                      <div class="services__header">
                        <div class="services__icon">
                          <div class="services__img"><img src="img/coding.png" alt="" width="43" height="43"></div>
                          <!-- /.services__img -->
                        </div><!-- /.services__icon -->
                        <div class="services__title"><a href="">Веб-разработка</a></div><!-- /.services__title -->
                      </div><!-- /.services__header -->
                      <div class="services__main">
                        <div class="services__list links">
                          <ul>
                            <li><a href="">Создание сайтов любой сложности на 1С-Битрикс</a></li>
                            <li><a href="">Разработка сайта на базе готового решения</a></li>
                            <li><a href=""> Мобильные приложения на базе Bitrix Mobile</a></li>

                          </ul>
                        </div><!-- /.services__list -->
                      </div><!-- /.services__main -->
                    </div><!-- /.services__content -->
                  </div><!-- /.services__item -->

                  <div class="services__item">
                    <div class="services__content">
                      <div class="services__header">
                        <div class="services__icon">
                          <div class="services__img"><img src="img/seo.png" alt="" width="43" height="43"></div>
                          <!-- /.services__img -->
                        </div><!-- /.services__icon -->
                        <div class="services__title"><a href="">Маркетинг</a></div><!-- /.services__title -->
                      </div><!-- /.services__header -->
                      <div class="services__main">
                        <div class="services__list links">
                          <ul>
                            <li><a href="">Поисковая оптимизация</a></li>
                            <li><a href="">SEO-продвижение</a></li>
                            <li><a href="">Контекстная реклама</a></li>
                            <li><a href="">Комплексное продвижение</a></li>
                          </ul>
                        </div><!-- /.services__list -->
                      </div><!-- /.services__main -->
                    </div><!-- /.services__content -->
                  </div><!-- /.services__item -->
                  <div class="services__item">
                    <div class="services__content">
                      <div class="services__header">
                        <div class="services__icon">
                          <div class="services__img"><img src="img/development.png" alt="" width="43" height="43"></div>
                          <!-- /.services__img -->
                        </div><!-- /.services__icon -->
                        <div class="services__title"><a href="">Поддержка и автоматизация</a></div>
                        <!-- /.services__title -->
                      </div><!-- /.services__header -->
                      <div class="services__main">
                        <div class="services__list">
                          <ul>
                            <li><a href="">Поддержка и развитие сайта</a></li>
                            <li><a href="">Интеграция корпоративного портала Битрикс24</a></li>
                            <li><a href="">Интеграция сайта с 1С</a>/li>
                          </ul>
                        </div><!-- /.services__list -->
                      </div><!-- /.services__main -->
                    </div><!-- /.services__content -->
                  </div><!-- /.services__item -->
                  <div class="services__item">
                    <div class="services__content">
                      <div class="services__header">
                        <div class="services__icon">
                          <div class="services__img"><img src="img/ellipsis.png" alt="" width="43" height="43"></div>
                          <!-- /.services__img -->
                        </div><!-- /.services__icon -->
                        <div class="services__title"><a href="">Другие услуги</a></div><!-- /.services__title -->
                      </div><!-- /.services__header -->
                      <div class="services__main">
                        <div class="services__list">
                          <ul>
                            <li><a href="">Технический и маркетинговый аудит сайта</a></li>
                            <li><a href="">Создание логотипа</a></li>
                            <li><a href="">Фотосъемка</a></li>
                          </ul>
                        </div><!-- /.services__list -->
                      </div><!-- /.services__main -->
                    </div><!-- /.services__content -->
                  </div><!-- /.services__item -->

                </div><!-- /.services__items -->
              </div><!-- /.services -->
            </div><!-- /.servicesblock__services -->
          </div><!-- /.servicesblock__content -->
        </div><!-- /.container -->
      </section>
    </div><!-- /.page -->
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>