<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>

<div class="landing">
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <main>
    <div class="pageheader">
      <div class="container">
        <div class="pageheader__breacrumbs">
          <div class="container">
            <div class="breadcrumbs">
              <ul>
                <li><a href=""><span>Главная</span></a></li>
                <li><a href=""><span>Услуги</span></a></li>
                <li><span>Веб-разработка</span></li>
              </ul>
            </div><!-- /.breadcrumbs -->
          </div><!-- /.container -->

        </div><!-- /.pageheader__breacrumbs -->

        <div class="container">
          <div class="pageheader__title">
            <h1>Веб-разработка</h1>
          </div><!-- /.pageheader__title -->
        </div><!-- /.container -->
      </div><!-- /.container -->
    </div><!-- /.pageheader -->

    <div class="container">
      <div class="pagenav">
        <ul>
          <li class="active"><a href="#block1" class="scrollTo">Создание сайтов</a></li>
          <li><a href="#block2" class="scrollTo">Готовые решения</a></li>
          <li><a href="#block3" class="scrollTo">Мобильные веб-приложения</a></li>
        </ul>
      </div><!-- /.pagenav -->
    </div><!-- /.container -->

    <div class="devblock offerblock">
      <div class="container">
        <div class="offerblock__title">
          <h2>Создание сайтов на 1С-Битрикс</h2>
          <div class="offerblock__descr">Сайт для компании — это важный инструмент привлечения новых клиентов,
            увеличения
            Ваших продаж и ведения успешного <br> бизнеса в целом. Мы создаем уникальные проекты любой направленности и
            сложности.</div>
        </div>

        <div class="offerblock__cases">
          <a href="">
            <img src="img/portfolio.svg" alt="">
            <span>смотреть кейсы</span>
          </a>
        </div>

        <div class="offerblock__prices">
          <h3>Цены на создание сайта</h3>
          <div class="offerblock__cards">
            <div class="cards cards_5">
              <div class="card slide-in-bottom wow" data-wow-delay="0.2s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">
                      <div class="card__icon">
                        <div class="card__img"><img src="img/landing-page.svg" alt=""></div><!-- /.card__img -->
                      </div><!-- /.card__icon -->
                      <div class="card__title">Landing <br> page</div><!-- /.card__title -->
                      <div class="card__list">
                        <ul>
                          <li>UX/UI дизайн</li>
                          <li>Адаптивная верстка</li>
                          <li>Программирование на CMS 1С-Битрикс</li>
                          <li>Обучение работе с системой</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-text">от</span>
                        <span class="card__price-value">39 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Заказать</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->

              <div class="card slide-in-bottom wow" data-wow-delay="0.5s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">
                      <div class="card__icon">
                        <div class="card__img"><img src="img/browser.svg" alt=""></div><!-- /.card__img -->
                      </div><!-- /.card__icon -->
                      <div class="card__title">Сайт <br> визитка</div><!-- /.card__title -->
                      <div class="card__list">
                        <ul>
                          <li>UX/UI дизайн</li>
                          <li>Адаптивная верстка</li>
                          <li>Программирование на CMS 1С-Битрикс</li>
                          <li>Обучение работе с системой</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-text">от</span>
                        <span class="card__price-value">74 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Заказать</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->
              <div class="card slide-in-bottom wow" data-wow-delay="0.8s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">
                      <div class="card__icon">
                        <div class="card__img"><img src="img/branding.svg" alt=""></div><!-- /.card__img -->
                      </div><!-- /.card__icon -->
                      <div class="card__title">Корпоративный <br> сайт</div><!-- /.card__title -->
                      <div class="card__list">
                        <ul>
                          <li>UX/UI дизайн</li>
                          <li>Адаптивная верстка</li>
                          <li>Программирование на CMS 1С-Битрикс</li>
                          <li>Обучение работе с системой</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-text">от</span>
                        <span class="card__price-value">119 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Заказать</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->
              <div class="card slide-in-bottom wow" data-wow-delay="1.1s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">
                      <div class="card__icon">
                        <div class="card__img"><img src="img/catalog.svg" alt=""></div><!-- /.card__img -->
                      </div><!-- /.card__icon -->
                      <div class="card__title">Сайт с <br> каталогом</div><!-- /.card__title -->
                      <div class="card__list">
                        <ul>
                          <li>UX/UI дизайн</li>
                          <li>Адаптивная верстка</li>
                          <li>Программирование на CMS 1С-Битрикс</li>
                          <li>Обучение работе с системой</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-text">от</span>
                        <span class="card__price-value">149 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Заказать</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->
              <div class="card slide-in-bottom wow" data-wow-delay="1.4s">
                <div class="card__wrapper">
                  <div class="card__content">
                    <div class="card__main">
                      <div class="card__icon">
                        <div class="card__img"><img src="img/online-shopping.svg" alt=""></div><!-- /.card__img -->
                      </div><!-- /.card__icon -->
                      <div class="card__title">Интернет <br>магазин</div><!-- /.card__title -->
                      <div class="card__list">
                        <ul>
                          <li>UX/UI дизайн</li>
                          <li>Адаптивная верстка</li>
                          <li>Профессиональная разработка на CMS 1С-Битрикс</li>
                          <li>Интеграция с 1С</li>
                          <li>Обучение работе с системой</li>
                        </ul>
                      </div><!-- /.card__list -->

                    </div><!-- /.card__main -->
                    <div class="card__bottom">
                      <div class="card__price">
                        <span class="card__price-text">от</span>
                        <span class="card__price-value">299 000 <span class="rouble">₽</span> </span>
                      </div><!-- /.card__price -->
                      <div class="card__button"><a href="#modal__order" data-toggle="modal"
                          class="btn btn_small">Заказать</a> </div>
                      <!-- /.card__button
                          -->
                    </div><!-- /.card__bottom -->

                  </div><!-- /.card__wrapper -->
                </div>
              </div><!-- /.card -->

            </div><!-- /.cards -->
          </div><!-- /.offerblock__cards -->
        </div><!-- /.offerblock__prices -->

        <div class="offerblock__text">
          Мы всегда открыты для диалога, поэтому также ждём ваших заявок для расчёта индивидуальной разработки
          нестандартного решения.

        </div><!-- /.offerblock__text -->

        <div class="offerblock__stages">
          <h3>Этапы создания сайта</h3>
          <div class="offerblock__slider">
            <div class="offerslider">
              <div class="offerslider__container frame frame_branding" id="slider-devblock">
                <div class="offerslider__slider slidee">
                  <div class="offerslider__slide" style="background-image:url(img/slide1.png);">
                    <div class="offerslider__wrapper">
                      <div class="offerslider__content">
                        <div class="offerslider__number">01</div>
                        <div class="offerslider__main">
                          <div class="offerslider__textcontent">
                            <div class="offerslider__title">Брифование клиента</div>
                            <div class="offerslider__text">Вы заполняете подробный бриф со всеми данными о проекте.
                              После мы обсуждаем проект и находим подходящее решение, продумываем идею ресурса.</div>
                          </div>

                          <div class="offerslider__button">
                            <button class="btn btn_small next">
                              <span>Следующий этап</span>
                              <img src="img/buttonArrow.png" alt="">
                            </button></div>
                        </div>

                      </div><!-- /.offerslider__content -->
                    </div><!-- /.offerslider__wrapper -->
                  </div><!-- /.offerslider__slide -->

                  <div class="offerslider__slide" style="background-image: url(img/slide1.png);">
                    <div class="offerslider__wrapper">
                      <div class="offerslider__content">
                        <div class="offerslider__number">02</div>
                        <div class="offerslider__main">
                          <div class="offerslider__textcontent">
                            <div class="offerslider__title">Брифование клиента</div>
                            <div class="offerslider__text">Вы заполняете подробный бриф со всеми данными о проекте.
                              После мы обсуждаем проект и находим подходящее решение, продумываем идею ресурса.</div>
                          </div>

                          <div class="offerslider__button">
                            <button class="btn btn_small next">
                              <span>Следующий этап</span>
                              <img src="img/buttonArrow.png" alt="">
                            </button>
                          </div>
                        </div>

                      </div><!-- /.offerslider__content -->
                    </div><!-- /.offerslider__wrapper -->
                  </div><!-- /.offerslider__slide -->
                  <div class="offerslider__slide" style="background-image: url(img/slide1.png);">
                    <div class="offerslider__wrapper">
                      <div class="offerslider__content">
                        <div class="offerslider__number">03</div>
                        <div class="offerslider__main">
                          <div class="offerslider__textcontent">
                            <div class="offerslider__title">Брифование клиента</div>
                            <div class="offerslider__text">Вы заполняете подробный бриф со всеми данными о проекте.
                              После мы обсуждаем проект и находим подходящее решение, продумываем идею ресурса.</div>
                          </div>

                          <div class="offerslider__button">
                            <button class="btn btn_small next">
                              <span>Следующий этап</span>
                              <img src="img/buttonArrow.png" alt="">
                            </button>
                          </div>
                        </div>

                      </div><!-- /.offerslider__content -->
                    </div><!-- /.offerslider__wrapper -->
                  </div><!-- /.offerslider__slide -->

                </div><!-- /.offerslider__slider -->
              </div><!-- /.offerslider__container -->
            </div><!-- /.offerslider -->
          </div><!-- /.offerblock__slider -->
        </div><!-- /.offerblock__stages -->
      </div> <!-- /.container -->
    </div><!-- /.devblock -->
    <div class="solutionblock offerblock" id="block2">
      <div class="container">
        <div class="offerblock__title">
          <h2>разработка сайта на ОСНОВЕ ГОТОВОГО РЕШЕНИЯ 1С-Битрикс</h2>
          <div class="offerblock__descr">Создание сайта на шаблоне 1С‑Битрикс — отличный вариант для тех, кому нужен
            продающий сайт с минимальными затратами и в <br> сжатые сроки!</div>
        </div>

        <div class="offerblock__fitches">
          <h3>Преимущества</h3>
          <div class="offerfitches">
            <div class="offerfitches__items">
              <div class="offerfitches__item offerfitches__item_1 slide-in-bottom wow" data-wow-delay="0.3s">
                <div class=" offerfitches__content">
                  <div class="offerfitches__header">
                    <div class="offerfitches__icon"><img src="img/deadline.svg" alt=""></div>
                    <div class="offerfitches__title">Скорость <br> запуска</div>
                  </div><!-- /.offerfitches__header -->
                  <div class="offerfitches__text">
                    быстрый запуск сайта <br> от 15 дней
                  </div><!-- /.offerfitches__text -->
                </div><!-- /.offerfitches__content -->
              </div><!-- /.offerfitches__item -->
              <div class="offerfitches__item offerfitches__item_2 slide-in-bottom wow" data-wow-delay="0.6s">
                <div class="offerfitches__content">
                  <div class="offerfitches__header">
                    <div class="offerfitches__icon"><img src="img/money.svg" alt=""></div>
                    <div class="offerfitches__title">Экономия <br> бюджета</div>
                  </div><!-- /.offerfitches__header -->
                  <div class="offerfitches__text">
                    экономия бюджета до 50%, если бы <br>Вы разрабатывали сайт с нуля
                  </div><!-- /.offerfitches__text -->
                </div><!-- /.offerfitches__content -->
              </div><!-- /.offerfitches__item -->
              <div class="offerfitches__item offerfitches__item_3 slide-in-bottom wow" data-wow-delay="0.9s">
                <div class="offerfitches__content">
                  <div class="offerfitches__header">
                    <div class="offerfitches__icon"><img src="img/coding.svg" alt=""></div>
                    <div class="offerfitches__title">Возможность <br> доработок</div>
                  </div><!-- /.offerfitches__header -->
                  <div class="offerfitches__text">
                    возможность дальнейших доработок и <br> сопровождения на постоянной основе
                  </div><!-- /.offerfitches__text -->
                </div><!-- /.offerfitches__content -->
              </div><!-- /.offerfitches__item -->
            </div><!-- /.offerfitches__items -->
          </div><!-- /.offerfitches -->

        </div><!-- /.offerblock__fitches -->
        <br>
        <h3>Сколько стоит?</h3>
        <div class="offerblock__text offerblock__text_big">
          от <span>50 000</span> руб.
        </div>
        <br>
        <div class="offerblock__descr">Запуск от 15 рабочих дней — это на порядок быстрее по сравнению с минимальным
          сроком разработки сайта с аналогичным <br>
          функционалом с нуля.</div>

        <div class="offerblock__cases">
          <a href="">
            <img src="img/calculator.svg" alt="">
            <span>РАССЧИТАТЬ СТОИМОСТЬ</span>
          </a>
        </div>





        <div class="offerblock__stages">
          <h3>Этапы создания сайта</h3>
          <div class="offerblock__slider">
            <div class="offerslider">
              <div class="offerslider__container frame frame_branding" id="slider-solutionblock">
                <div class="offerslider__slider slidee">
                  <div class="offerslider__slide" style="background-image: url(img/slide1.png);">
                    <div class="offerslider__wrapper">
                      <div class="offerslider__content">
                        <div class="offerslider__number">01</div>
                        <div class="offerslider__main">
                          <div class="offerslider__textcontent">
                            <div class="offerslider__title">Подбор готового решения 1С‑Битрикс</div>
                            <div class="offerslider__text">Вы заполняете подробный бриф со всеми данными о проекте.
                              После мы обсуждаем проект и находим подходящее решение, продумываем идею ресурса.</div>
                          </div>

                          <div class="offerslider__button">
                            <button class="btn btn_small next">
                              <span>Следующий этап</span>
                              <img src="img/buttonArrow.png" alt="">
                            </button></div>
                        </div>

                      </div><!-- /.offerslider__content -->
                    </div><!-- /.offerslider__wrapper -->
                  </div><!-- /.offerslider__slide -->

                  <div class="offerslider__slide" style="background-image: url(img/slide1.png);">
                    <div class="offerslider__wrapper">
                      <div class="offerslider__content">
                        <div class="offerslider__number">02</div>
                        <div class="offerslider__main">
                          <div class="offerslider__textcontent">
                            <div class="offerslider__title">Брифование клиента</div>
                            <div class="offerslider__text">Вы заполняете подробный бриф со всеми данными о проекте.
                              После мы обсуждаем проект и находим подходящее решение, продумываем идею ресурса.</div>
                          </div>

                          <div class="offerslider__button">
                            <button class="btn btn_small next">
                              <span>Следующий этап</span>
                              <img src="img/buttonArrow.png" alt="">
                            </button>
                          </div>
                        </div>

                      </div><!-- /.offerslider__content -->
                    </div><!-- /.offerslider__wrapper -->
                  </div><!-- /.offerslider__slide -->

                  <div class="offerslider__slide" style="background-image: url(img/slide1.png);">
                    <div class="offerslider__wrapper">
                      <div class="offerslider__content">
                        <div class="offerslider__number">03</div>
                        <div class="offerslider__main">
                          <div class="offerslider__textcontent">
                            <div class="offerslider__title">Брифование клиента</div>
                            <div class="offerslider__text">Вы заполняете подробный бриф со всеми данными о проекте.
                              После мы обсуждаем проект и находим подходящее решение, продумываем идею ресурса.</div>
                          </div>

                          <div class="offerslider__button">
                            <button class="btn btn_small next">
                              <span>Следующий этап</span>
                              <img src="img/buttonArrow.png" alt="">
                            </button>
                          </div>
                        </div>

                      </div><!-- /.offerslider__content -->
                    </div><!-- /.offerslider__wrapper -->
                  </div><!-- /.offerslider__slide -->

                </div><!-- /.offerslider__slider -->
              </div><!-- /.offerslider__container -->
            </div><!-- /.offerslider -->
          </div><!-- /.offerblock__slider -->
        </div><!-- /.offerblock__stages -->
      </div> <!-- /.container -->
      <br><br>
    </div><!-- /.devblock -->


    <div class="devappblock offerblock" id="block3">
      <div class="container">
        <div class="offerblock__title">
          <h2>Создание мобильного приложения <br>
            на базе Битрикс</h2>

        </div>
        <div class="offerblock__cols">
          <div class="offerblock__main">
            <div class="fitches">
              <div class="fitches__items">
                <div class="fitches__item fitches__item_1">
                  <div class="fitches__content">
                    <div class="fitches__icon">
                      <div class="fitches__img"><img src="img/im.svg" alt=""></div>
                    </div>
                    <div class="fitches__text">
                      Интернет-магазин
                    </div>
                  </div><!-- /.fitches__content -->
                </div><!-- /.fitches__item -->

                <div class="fitches__item fitches__item_2">
                  <div class="fitches__content">
                    <div class="fitches__icon">
                      <div class="fitches__img"><img src="img/bp.svg" alt=""></div>
                    </div>
                    <div class="fitches__text">
                      Бизнес-приложение
                    </div>
                  </div><!-- /.fitches__content -->
                </div><!-- /.fitches__item -->

                <div class="fitches__item fitches__item_3">
                  <div class="fitches__content">
                    <div class="fitches__icon">
                      <div class="fitches__img"><img src="img/ip.svg" alt=""></div>
                    </div>
                    <div class="fitches__text">
                      Информационное приложение
                    </div>
                  </div><!-- /.fitches__content -->
                </div><!-- /.fitches__item -->

                <div class="fitches__item fitches__item_1">
                  <div class="fitches__content">
                    <div class="fitches__icon">
                      <div class="fitches__img"><img src="img/ss.svg" alt=""></div>
                    </div>
                    <div class="fitches__text">
                      Социальная сеть
                    </div>
                  </div><!-- /.fitches__content -->
                </div><!-- /.fitches__item -->

                <div class="fitches__item fitches__item_2">
                  <div class="fitches__content">
                    <div class="fitches__icon">
                      <div class="fitches__img"><img src="img/pg.svg" alt=""></div>
                    </div>
                    <div class="fitches__text">
                      Приложение госструктур
                    </div>
                  </div><!-- /.fitches__content -->
                </div><!-- /.fitches__item -->

                <div class="fitches__item fitches__item_3">
                  <div class="fitches__content">
                    <div class="fitches__icon">
                      <div class="fitches__img"><img src="img/psv.svg" alt=""></div>
                    </div>
                    <div class="fitches__text">
                      Приложение школы или ВУЗаур
                    </div>
                  </div><!-- /.fitches__content -->
                </div><!-- /.fitches__item -->

              </div><!-- /.fitches__items -->
            </div><!-- /.fitches -->

            <h3>Стоимость разработки для</h3>

            <div class="appslogo">
              <div class="appslogo__items">
                <div class="appslogo__item">
                  <div class="appslogo__content">
                    <div class="appslogo__icon">
                      <div class="appslogo__img"><img src="img/google-play.svg" alt=""></div>
                    </div><!-- /.appslogo__icon -->
                    <div class="appslogo__text">Google play</div>
                  </div><!-- /.appslogo__content -->
                </div><!-- /.appslogo__item -->
                <div class="appslogo__item">
                  <div class="appslogo__content">
                    <div class="appslogo__icon">
                      <div class="appslogo__img"><img src="img/apple-black-logo.svg" alt=""></div>
                    </div><!-- /.appslogo__icon -->
                    <div class="appslogo__text">App Store</div>
                  </div><!-- /.appslogo__content -->
                </div><!-- /.appslogo__item -->
              </div><!-- /.appslogo__items -->
            </div><!-- /.appslogo -->

            <div class="offerblock__text offerblock__text_big">
              от <span>150 000</span> руб.
            </div>
            <br>
            <div class="offerblock__descr">В короткие сроки мы разработаем REST API и сможем быстро выпустить мобильное
              <br> приложение для вашего сайта или интернет-магазина.</div>

          </div><!-- /.offerblock__main -->
          <div class="offerblock__aside slide-in-right wow" data-wow-delay="0.2s">
            <div class="siteslider__mobile">
              <div class="solutionslider__app">
                <div class="solutionslider__image">
                  <div class="mobileapp">
                    <div class="mobileapp__logo"><img src="img/1c-bitrix-logo.svg" alt=""></div>
                    <div class="mobileapp__title">Мобильное приложение</div>
                    <div class="mobileapp__subtitle">на базе вашего сайта</div>
                    <div class="mobileapp__button"><a href="#modal__order" data-toggle="modal"
                        class="btn btn_small">Заказать</a></div>
                  </div>
                </div>
                <div class="solutionslider__phone">
                </div>
              </div>
            </div>
          </div><!-- /.offerblock__aside -->
        </div><!-- /.offerblock__cols -->

      </div> <!-- /.container -->
    </div><!-- /.devblock -->



  </main>
</div><!-- /.landing -->
<%= _.template(require('./../includes/footer.html').default)(data) %>