@import './partials/params.scss';
@import './partials/mixins.scss';
@import './partials/animations.scss';

.aboutblock {
  background-color: $bgcolor;
  padding: 50px 0;

  @include small-screen {
    padding: 10px 0;
  }
}

.about__clients {}

.rounditems {
  margin: 30px 0;

  @include medium-screen {
    overflow-x: auto;
  }


  &__items {
    @include flex-grid;
    margin: 0 -20px;
    width: max-content;
    margin: auto;

    @include small-screen {
      margin: 0 -10px;
    }
  }

  &__item {
    width: calc(100% / 6);
    padding: 0 20px;
    margin-bottom: 40px;

    @include medium-screen {
      width: max-content;
    }

    @include small-screen {
      padding: 0 10px;
      margin-bottom: 20px;
    }


  }

  &__content {}

  &__wrapper {
    border-radius: 50%;
    background: #fff;
    padding-top: 100%;
    width: 100%;
    position: relative;


    width: 155px;
    height: 155px;

    @include large-screen {
      width: 135px;
      height: 135px;


    }

    @include small-screen {
      width: 118px;
      height: 118px;
    }
  }

  &__image img {
    @include absolute-image-center;
    transition: $transition;

    @include large-screen {
      max-width: 120px;

    }

    @include medium-screen {
      max-width: 90px;
      max-height: 60px;
    }

    &:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}