@import './partials/params.scss';
@import './partials/mixins.scss';
@import './partials/animations.scss';


.cardblock {

  .card {
    &__wrapper {
      margin-top: -105px;
      background: #fff;
      position: relative;
      z-index: 3;
      display: flex;

      @include small-screen {
        margin-top: 0;
        flex-wrap: wrap;
        margin: 0 -5px;
        width: calc(100% + 10px);
      }
    }

    &__main {
      padding: 30px 45px;

      @include small-screen {
        padding: 20px 5px;
        width: 100%;
      }
    }

    &__item {
      margin-bottom: 40px;

      @include small-screen {
        margin-bottom: 25px;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 900;
      margin-bottom: 5px;

      @include small-screen {
        font-size: 20px;
      }

    }

    &__text {
      font-size: 18px;

      @include small-screen {
        font-size: 16px;
      }

      ul {
        li {
          position: relative;
          padding-left: 35px;
          font-size: 18px;
          margin-bottom: 5px;

          @include small-screen {
            font-size: 16px;
          }

          &:before {
            content: url(../img/mdash.png);
            position: absolute;
            left: 0;
            top: -3px;
          }
        }
      }
    }

    &__form {
      background: $maincolor;
      width: 100%;
      padding: 35px 0 25px 0;
    }

  }


  .callform {
    color: #fff;
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 70px;
    width: 372px;
    max-width: 100%;

    .btn--border {
      font-size: 18px;
      max-width: 234px;
      margin-left: auto;
      margin-right: auto;
    }

    @include small-screen {
      width: 100%;
      padding: 0;
      display: block;
    }

    * {
      width: 100%;
    }

    &__content {
      @include small-screen {
        max-width: 285px;
        margin: auto;
      }
    }
  }

  .callform__title {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;

  }

  .callform__text {
    font-size: 18px;
  }

  .callform__button {}


}

.cardblock {
  background-color: $bgcolor;

  @include small-screen {
    background-color: #fff;
  }
}

.solution {
  padding: 10px 0;
  background-color: $bgcolor;

  @include small-screen {
    background-color: #fff;
  }

  &__wrapper {
    padding: 30px 45px;


  }

  &__content {
    display: flex;


  }

  &__left {
    margin-right: 90px;
  }

  &__title {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__right {}

  &__list {
    ul {
      li {
        position: relative;
        padding-left: 35px;
        font-size: 18px;
        margin-bottom: 5px;

        &:before {
          content: url(../img/mdash.png);
          position: absolute;
          left: 0;
          top: -3px;
        }
      }
    }
  }
}

.solutionslider {

  &__wrapper {
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;

    @include small-screen {
      margin-bottom: 10px;
    }
  }

  &__position {
    position: absolute;
    left: 0;
    overflow-x: visible !important;
  }

  &__container {}

  &__slider {
    .solutionslider__slide:last-child {
      .solutionslider__item {
        margin-right: 0;
      }
    }
  }

  &__slide {}

  &__item {
    margin-right: 150px;

    @include large-screen {
      margin-right: 50px;
    }

    @include small-screen {
      margin-right: 40px;
    }
  }

  &__object {}

  &__object_app {}

  &__content {
    padding: 10px 0;
  }

  &__app {
    position: relative;
    width: 286px;
    height: 563px;
    margin: auto;
    overflow: hidden;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 0px 5px #777);

    @include small-screen {
      width: 100%;
      padding: 0;
      display: block;
      width: 160px;
      height: 314px;
    }
  }

  &__image {
    background-repeat: no-repeat;
    border-bottom-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-top-left-radius: 42px;
    border-top-right-radius: 41px;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 43px);
    height: 103%;

    @include small-screen {
      width: 100%;
    }
  }

  &__phone {
    background-image: url(../img/phone.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;


    @include small-screen {}


  }
}


.siteslider {
  .frame_branding {
    .arrows {}
  }

  .container {
    position: relative;
    max-width: 1280px;
  }

  .siteslider__container {
    position: relative;
    margin: 50px 0 30px 0;
    padding: 0 0 50px 0;

  }

  .siteslider__slider {}

  .siteslider__slide {}



  .siteslider__desktop {}

  .siteslider__image {
    padding: 40px;

    @include medium-screen {
      padding: 10px;
    }

    img {
      width: calc(100% - 210px);
      box-shadow: 0 0 27px 5px rgba(34, 60, 80, 0.2);

      @include medium-screen {
        width: initial;
        box-shadow: 0 0 12px 1px rgba(34, 60, 80, 0.2);

      }



    }

  }

  .siteslider__mobile {
    position: absolute;
    right: 20px;
    bottom: 55px;

    @include large-screen {
      right: 40px;
    }

    @include medium-screen {
      bottom: -5px;
      right: 20px;
    }
  }

  .solutionslider__app {
    @include small-screen {
      width: 117px;
      height: 230px;
    }
  }

  .solutionslider__image {
    @include small-screen {
      border-bottom-left-radius: 17px;
      border-bottom-right-radius: 17px;
      border-top-left-radius: 12px;
      border-top-right-radius: 11px;

      @include small-screen {
        height: 94%;
        top: 7px;
      }
    }
  }

  .solutionslider__phone {}


}

.brandlider {
  padding-bottom: 40px;

  @include small-screen {
    padding-bottom: 0;
  }

  .container {
    max-width: 1280px;
  }

  .arrows {
    display: block;
    position: initial;

    @include small-screen {
      display: none;
    }
  }

  .prev {
    position: absolute;
    left: 38px;
    top: 50%;
    transform: translateY(-50%);
  }

  .next {
    position: absolute;
    right: 38px;
    top: 50%;
    transform: translateY(-50%);
  }

  .brandlider__container {
    position: relative;
    margin: 0px 0 30px 0;
    padding: 20px 0 20px 0;

    @include small-screen {
      margin: 0px 0 0 0;
    }
  }




  .frame {}

  .frame_branding {}

  .brandlider__slider {}

  .slidee {}

  .brandlider__slide {}

  .brandlider__content {
    padding: 40px;

    @include small-screen {

      padding: 10px;
    }
  }

  .brandlider__image {
    background: #f6f6f8;
    display: flex;
    height: 697px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 27px 5px rgba(34, 60, 80, 0.2);
    border: 1px solid #bdbdbd;

    @include small-screen {
      height: initial;
      padding: 20px;
      box-shadow: 0 0 12px 1px rgba(34, 60, 80, 0.2);
    }
  }
}