@font-face {
  font-family: 'New_Channel_Font';
  src: url('../fonts/New_Channel_Font-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New_Channel_Font';
  src: url('../fonts/New_Channel_Font-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New_Channel_Font';
  src: url('../fonts/New_Channel_Font-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}