@import './partials/params.scss';
@import './partials/mixins.scss';

.indexheader {
  height: initial;
  position: relative;
  min-height: 760px;
  background-color: rgba(0, 0, 0, 0.55);

  @include medium-screen {
    min-height: initial;
  }

  >.container {
    display: block;
    min-height: inherit;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: none;
  }

  &__content {
    height: 100%;
    min-height: 100%;
    max-width: 830px;

    min-height: inherit;
    @include flex-left(row);

    @include medium-screen {
      padding: 100px 0 50px 0;
      max-width: 530px;

    }

    @include small-screen {
      padding: 134px 10px 105px 10px;
    }
  }

  &__title {
    font-size: 72px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin: 15px 0;
    font-weight: 900;

    @include medium-screen {
      font-size: 38px;
    }

    @include small-screen {
      font-size: 26px;
      text-align: center;
    }
  }

  &__button {
    @include small-screen {
      text-align: center;
    }
  }

  .contact {
    &__call {
      background-image: url(../img/dropdown.png);
    }
  }

  img.logo {
    display: block;
  }

  img.logo--fixed {
    display: none;
  }

  .headerToggler {
    display: inline-block;
  }

  .headerToggler--fixed {
    display: none;
  }

  .contact__call a {
    color: $textcolor;
    border-color: transparent;
  }



  .header .contact .contact__call a {
    border-color: #fff;
  }

  .headernav__menu ul li.headernav__link a {
    color: #fff;
  }

}

#video-bg {
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 0;
  position: absolute;
  z-index: -1;
  max-height: 100%;
  overflow: hidden;
  height: 100%;
}

#video-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

#video-bg>video {
  top: 0;
  left: 0;
  min-width: 100%;
  width: auto;
  height: auto;
  width: initial;
  height: initial;
  min-height: 100%;
}