@import './partials/params.scss';
@import './partials/mixins.scss';
@import './partials/animations.scss';

.servicesblock {
  padding: 75px 0;

  @include medium-screen {
    padding: 45px 0;
  }

  @include small-screen {
    padding: 15px 0;
  }

  &__content {}

  &__title {}

  &__services {}
}


.services {
  padding: 25px 0;

  &__items {
    @include flex-grid;
  }

  &__item {
    width: 50%;
    margin-bottom: 40px;

    &:nth-child(2n) {
      width: 43%
    }

    &:nth-child(2n-1) {
      width: 57%
    }

    @include medium-screen {
      &:nth-child(2n) {
        width: 50%
      }

      &:nth-child(2n-1) {
        width: 50%
      }
    }

    @include small-screen {
      &:nth-child(2n) {
        width: 100%
      }

      &:nth-child(2n-1) {
        width: 100%
      }
    }
  }

  &__content {
    @include small-screen {
      padding: 0 15px;
    }
  }

  &__header {
    @include flex-left(row);
    margin-bottom: 15px;
  }

  &__icon {
    padding-right: 15px;
  }

  &__img {
    width: 43px;

    @include small-screen {
      width: 35px;
    }
  }

  &__title {
    font-size: 36px;

    @include medium-screen {
      font-size: 26px;
    }

    a {
      color: $darkcolor;
      border-bottom: 3px solid transparent;
      padding-bottom: 2px;

      &:hover {
        color: $darkcolor;
        border-bottom: 3px solid $maincolor;
      }
    }
  }

  &__main {}

  &__list {
    ul {
      margin-left: 60px;

      @include small-screen {
        margin-left: 52px;
      }
    }

    li {
      margin-bottom: 8px;
      font-size: 18px;
      padding-left: 30px;
      background-image: url(../img/list.png);
      background-repeat: no-repeat;
      background-position: left top 11px;

      @include small-screen {
        font-size: 15px;
      }





    }

    &.links {
      li {
        background-image: none;
        padding: 0;

        a {
          font-size: 16px;
          color: #31bdf6;
          padding-left: 15px;
          background-image: url(../img/bullet.png);
          background-repeat: no-repeat;
          background-position: left top 6px;
          font-weight: 600;

        }
      }

    }
  }


}