@import './fonts.scss';
@import './header.scss';
@import './indexheader.scss';
@import './partials/params.scss';
@import './partials/mixins.scss';

body {
  font-family: 'New_Channel_Font', sans-serif;
  color: $darkcolor;
  font-weight: 500;
  min-width: 320px;
  @include clear;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

ul {
  @include clear;
}

li {
  @include clear-list;
}

a {
  transition: $transition;
  text-decoration: none;
}

.btn {
  @include btn;
}

.bigButton {
  @include btn-big;
}