@import './fonts.scss';
@import './header.scss';
@import './footer.scss';
@import './indexheader.scss';
@import './projects.scss';
@import './services.scss';
@import './about.scss';
@import './form.scss';
@import './partials/params.scss';
@import './partials/mixins.scss';

body {
  font-family: 'New_Channel_Font', sans-serif;
  color: $darkcolor;
  font-weight: 500;
  min-width: 320px;
  @include clear;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

*::selection {
  background: $maincolor;

}

.container {
  @include container;
  padding: 0 15px;

  @include small-screen {
    padding: 0 5px;
  }
}

ul {
  @include clear;
}

li {
  @include clear-list;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

a {
  transition: $transition;
  text-decoration: none;
  color: $maincolor;
}

a:hover {
  color: $secondcolor;
}

.btn {
  @include btn;
}

.bigButton {
  @include btn-big($bgcolor: #fff, $color: $darkcolor, $bordercolor: $maincolor, $bordersize: 3px);
}

h2 {
  font-size: 60px;
  line-height: 1.2;
  margin: 10px 0 10px 0;
}

h3 {
  font-size: 30px;
  line-height: 1.2;
  margin: 10px 0 10px 0;

  @include small-screen {
    font-size: 24px;
  }
}

.titleLine {
  position: relative;
  display: flex;
  align-items: center;


  hr {
    height: 7px;
    background: $maincolor;
    margin: 0 0 0 90px;
    width: 100%;
    border: none;

    @include small-screen {
      height: 4px;
      margin-left: 25px;
    }
  }


  h2 {
    font-size: 72px;
    line-height: 1.2;
    margin: 20px 0;
    font-weight: 900;

    @include medium-screen {
      font-size: 40px;
    }

    @include small-screen {
      font-size: 36px;
    }
  }
}

.cols {
  @include flex-grid;
  margin: 0 -25px;

  @include medium-screen {
    margin: 0;
  }

  &__col--6 {
    width: 50%;
    padding: 0 25px;

    @include medium-screen {
      width: 100%;
      padding: 0;
    }
  }

}

p {
  font-size: 18px;
  color: $darkcolor;
  line-height: 1.333;
  text-align: justify;
  margin: 10px 0;

  @include small-screen {
    font-size: 15px;
  }

}

[class$=--halfsm] {
  @include medium-screen {
    width: 50%;
  }

  @include small-screen {
    width: 100%;
  }
}

main {
  overflow: hidden;
  width: 100%;
}

h2 {
  @include small-screen {
    font-size: 36px;
  }
}